@charset "UTF-8";

body, html {
    font-family: "Trebuchet MS", Helvetica, Tahoma, Verdana, Arial;
    font-size:12px;
    margin: 0;
    padding: 0;
    border: 0;
    background:url(header_bg_blue.png) repeat-x;
    height:100%;
}

h1 {
	font-weight: normal;
	font-size: 24px;
	color: #3466a4;
}

h2 {
	font-weight: normal;
	font-size: 18px;
	color: #3466a4;
}

img {
	border: 0px;
}

a {
	color: #3466a4;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#nonFooter {
    position: relative;
    min-height: 100%;
}

* html #nonFooter {
    height: 100%;
}

#container {
    width: 1000px;
    height: auto;
    margin: 0 auto;
    padding-bottom:10px;
}

#menuheader {
    width: 100%;
    height:63px;   
    text-align:right;
}

#logo {
    margin-top: 30px;
    float: left;
	color: #3466a4;
	font-size: 24px;
}

/**********************
**** CONTENT
**********************/ 
#content {
    width: 745px;
    height: auto;
    float: left;
    margin:25px 15px;   
}

#contentlarge {
    width: 100%;
    height: auto;
    float: left;
    margin:25px 15px; 
}



/**********************
**** FOOTER
**********************/ 
#footer {
    border-top: 1px solid silver;
    width: 100%;
    height: 24px;
    clear: both;
    position:relative;
    margin-top:-25px;
}

#footercontent {
    width:1000px;
    height:auto;
    margin: auto;
    color: gray;
    padding-top:4px;
    text-align:center;
}